@import url(./layout/fonts.css);
@import url(./layout/normalize.css);
@import url(./layout/base.css);

@import url(./blocks/header.css);
@import url(./blocks/contacts.css);
@import url(./blocks/logo.css);
@import url(./blocks/banner.css);
@import url(./blocks/nav.css);
@import url(./blocks/page-content.css);
@import url(./blocks/sidebar.css);
@import url(./blocks/main-content.css);
@import url(./blocks/features.css);
@import url(./blocks/top-news.css);
@import url(./blocks/block-content.css);
@import url(./blocks/pagination.css);
@import url(./blocks/footer.css);
@import url(./blocks/socials.css);
@import url(./blocks/breadcrumbs.css);
@import url(./blocks/comments.css);
@import url(./blocks/content__block.css);
@import url(./blocks/text-banner.css);
@import url(./blocks/form.css);
@import url(./blocks/tariffs.css);
@import url(./blocks/partners.css);