.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__list {
    display: flex;
}

.pagination__display, .pagination__link {
    font-family: "Roboto";
    font-size: 14px;
}

.pagination__display {
    color: #656464;
    font-weight: 300;
    margin-right: 30px;
}

.pagination__link {
    color: #262424;
    font-weight: 700;
    position: relative;
}

.pagination__item {
    margin-right: 17px;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__btn-prew, .pagination__btn-next {
    width: 6px;
    height: 10px;
}

.pagination__btn-prew {
    background: url(../../images/Vector_Smart_Object.png) center center / contain no-repeat;
    margin-right: 19px;
}

.pagination__btn-next {
    background: url(../../images/pagination_btn-next.png) center center / contain no-repeat;
    margin-left: 19px;
}


.pagination__item--active .pagination__link:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b40;
    border-radius: 2px;
    z-index: -10;
}

.pagination__link:hover {
    color: #cb2376;
    transition: .4s;
}

.pagination__item--active .pagination__link {
    color: #cb2376;
}


